.nav-container {
  width: 100vw;
  padding: 0.5rem;
  //   height: 38px;
  position: fixed;
  background: var(--dark-bg);
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  span {
    display: inline-block;
    margin-inline: 0.25rem;

    &:last-child {
      text-align: end;
    }
  }
}
