.page-container {
	padding-top: 10rem;
}

.search-input-container {
	border: 1px solid;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	background-color: var(--bg);
}
