.text-field-container {
  display: flex;
  flex-direction: column;
  border: 1px solid;

  label {
    font-size: var(--normal-text);
  }

  input {
    border-radius: 4px;
  }
}

.error-message {
  font-size: var(--small-text);
  color: var(--accent);
}
